body
{
background-color:#FFFFCC;
}
div.img
{
  margin: 2px;
margin-left:45;
margin-top:10;
  border: 1px solid #0000ff;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}	
div.img img
{
  display: inline;
  margin: 3px;
  border: 1px solid #ffffff;
}
div.img a:hover img {border: 1px solid #0000ff;}
div.desc
{
text-align: left;
font-family:"Andalus";
color:	#000000;
font-size:25px;
  
}
div.about
{
width:150;
height:45;
margin-left:75;
margin-top:35;
background-color:#1BA1E2;
border:1px solid grey;
}
div.about:hover
{
border:1px solid white;
-webkit-animation:myfifth 0.3s;
box-shadow: 0px 0px 25px 0px #CCCCCC;
}
@-webkit-keyframes myfifth 
 	
{
   0%{box-shadow: 0px 0px 0px 0px #FFFFFF;}
100%{box-shadow: 0px 0px 25px 0px #CCCCCC;}
}
div.aboutcontent
{
font-family:"Segoe UI Light";
color:	#000000;
font-size:25px;
}
div.aboutcontent1
{
font-family:"Segoe UI Light";
color:	#FFFFFF;
font-size:15px;
}
div.aboutcontent2
{
font-family:"Segoe UI Light";
color:	#FFFFFF;
font-size:25px;
}


div.objectives
{
width:150;
height:45;
margin-top:-48;
margin-left:275;
background-color:#F09609;
border:1px solid grey;
}
div.objectives:hover
{
border:1px solid white;
-webkit-animation:mysixth 0.3s;
-webkit-animation:mysixth1 2s;
box-shadow: 0px 0px 25px 0px #CCCCCC;
}
@-webkit-keyframes mysixth 
 	
{
   0%{box-shadow: 0px 0px 0px 0px #FFFFFF;}
100%{box-shadow: 0px 0px 25px 0px #CCCCCC;}
}


div.objectivescontent
{
font-family:"Segoe UI Light";
color:	#000000;
font-size:25px;
}


div.sc
{
width:150;
height:45;
margin-left:475;
margin-top:-48;
background-color:#339933;
border:1px solid grey;

}

div.sc:hover
{
border:1px solid white;
box-shadow: 0px 0px 25px 0px #CCCCCC;
-webkit-animation:myseventh 0.3s;
}
@-webkit-keyframes myseventh 
 	
{
   0%{box-shadow: 0px 0px 0px 0px #FFFFFF;}
100%{box-shadow: 0px 0px 25px 0px #CCCCCC;}
}
div.scc
{
font-family:"Segoe UI Light";
color:	#000000;
font-size:25px;
}
div.scc1
{
font-family:"Segoe UI Light";
color:	#FFFFFF;
margin-top:-80;
font-size:15px;
}
div.ac
{
width:150;
height:45;
margin-left:675;
margin-top:-48;
background-color:#1BA1E2;
border:1px solid grey;

}

div.ac:hover
{
border:1px solid white;
box-shadow: 0px 0px 25px 0px #CCCCCC;
-webkit-animation:myeighth 0.3s;
-webkit-animation:myeighth1 2s;
}
@-webkit-keyframes myeighth 
 	
{
   0%{box-shadow: 0px 0px 0px 0px #FFFFFF;}
100%{box-shadow: 0px 0px 25px 0px #CCCCCC;}
}


div.acc
{
font-family:"Segoe UI Light";
color:	#000000;
font-size:25px;
}


div.es
{
width:150;
height:45;
margin-left:875;
margin-top:-48;
background-color:#F09609;
border:1px solid grey;
}

div.es:hover
{
border:1px solid white;
box-shadow: 0px 0px 25px 0px #CCCCCC;
-webkit-animation:mynineth 0.3s;
}
@-webkit-keyframes mynineth 
 	
{
   0%{box-shadow: 0px 0px 0px 0px #FFFFFF;}
100%{box-shadow: 0px 0px 25px 0px #CCCCCC;}
}

div.esc
{
font-family:"Segoe UI Light";
color:	#000000;
font-size:25px;
}

div.ys
{
width:150;
height:45;
margin-left:1075;
margin-top:-48;
background-color:#339933;
border:1px solid grey;

}

div.ys:hover
{
border:1px solid white;
box-shadow: 0px 0px 25px 0px #CCCCCC;
-webkit-animation:mytenth 0.3s;
-webkit-animation:mytenth1 2s;
}
@-webkit-keyframes mytenth 
 	
{
   0%{box-shadow: 0px 0px 0px 0px #FFFFFF;}
100%{box-shadow: 0px 0px 25px 0px #CCCCCC;}
}

div.ysc
{
font-family:"Segoe UI Light";
color:	#000000;
font-size:25px;
}
